p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.quem_retweetou {
    color: rgba(101, 119, 134, 1);
    margin-left: 6px;
}

body {
    background-color: #15202b;
}

.icone {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.imagem {
    height: 315px;
    width: 600px;
    margin-left: 60px;
    margin-top: 25px;
    border-radius: 14px;
    margin-top: -4;
}

.div2 {
    display: flex;
    flex-direction: row;
}

.paragrafo1{
    margin-left: 10px;
    margin-top: -15px;
}

.icone_retweet{
    fill: rgba(136, 153, 166, 1);
    height: 18.75px;
    width: 15px;
    margin-top: 18px;
    margin-left: 38px;
}

.div1 {
    display: flex;
    flex-direction: row;
}

.icone_seta{
    fill: rgba(136, 153, 166, 1);
    height: 18.75px;
    width: 15px;
    margin-top: 5px;
    margin-left: 250px;
}

.usuario {
    color: rgba(101, 119, 134, 1);
}

.arroba {
    color: rgba(27, 149, 224, 1);
}

.paragrafo2{
    margin-left: 60px;
    margin-top: -27px;
}